* {
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 720px) {
    html {
        font-size: 10px;
    }
}


.header {
    background-color: white;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.4rem;
    overflow: hidden;
}

.header .logo {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2.25rem;
    color: #0d13c3;
    text-decoration: none;
}

.menuItems {
    width: 22.5rem;
    margin-right: 1.4rem;
    margin-left: 32rem;
    display: flex;
    justify-content: space-between;
}

.header a {
    font-family: 'Open Sans', regular;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1080px) {
    .menuItems {
        flex-direction: column;
        align-items: flex-end;
        margin-left: 27rem;
        margin-right: 0rem;
        width: auto;
    }
}

@media screen and (max-width: 720px) {
    .menuItems {
        margin-left: 12rem;
        margin-right: 0rem;
        width: auto;
    }
}



.heroSection {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("././imagesFolder/bluebackground1.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.heroText {
    width: 36rem;
}

.weCreate {
    font-size: 6rem;
    font-family: 'Roboto';
    font-weight: 400;
}

.future {
    font-size: 6rem;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    margin-bottom: 9%;
}

.firstSectionParagraph {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: 600;

}

.portraitWoman {
    width: 36rem;
    height: auto;
    object-fit: cover;
    clip-path: inset(1.4rem 0 1.4rem 0);
}

.portraitWoman img {
    width: inherit;
}

@media only screen and (max-width: 1080px) {

    .heroSection {
        flex-direction: column;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .heroText {
        margin-bottom: 3rem;
        text-align: center;
    }

    .portraitWoman {
        width: 40rem;
    }
}

@media only screen and (max-width: 720px) {
    .portraitWoman {
        width: 100vw;
    }
}




.servicesSection {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("././imagesFolder/dottedbg.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicesSectionText {
    text-align: center;
    margin-bottom: 4.5rem;
}

.whatWeDo {
    font-size: 3.75rem;
    font-family: 'Roboto';
    font-weight: 700;
    margin-bottom: 2rem;
}

.servicesSectionParagraph {
    font-size: 1.1rem;
    font-family: 'Open Sans';
    font-style: italic;
}

.servicesSection img {
    object-fit: cover;
    width: 22rem;
    height: 22rem;
    margin: 0.8rem;
}

@media only screen and (max-width: 1080px) {

    .servicesSectionImages {
        display: flex;
        flex-direction: column;
    }

    .servicesSection img {
        width: 40rem;
        height: 40rem;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .servicesSectionParagraph {
        width: 35rem;
    }
}

@media only screen and (max-width: 720px) {
    .servicesSection img {
        width: 100vw;
    }
}





.brandsSection {
    background-color: #ce22a9;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brandsSectionText {
    color: white;
    width: 31rem;
    margin-right: 3rem;
}

.brandsHeader {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3.75rem;
}

.brandsParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.brandsLink {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    border-width: 0 0 0.5rem 0;
    border-style: solid;
    text-decoration: none;
    line-height: 1rem;
}

.brandsSectionImages {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.brandsSectionImages img {
    object-fit: cover;
    width: 17rem;
    height: 18rem;
}

@media only screen and (max-width: 1080px) {

    .brandsSection {
        flex-direction: column;
    }

    .brandsSectionImages {
        margin-top: 4rem;
    }

}

@media only screen and (max-width: 720px) {
    .brandsSectionImages {
        width: 100vw;
        gap: 1rem;
    }

    .brandsSectionImages img {
        width: 20rem;
    }

}




.trustSection {
    background-image: url(././imagesFolder/trustSection/dottedbg.png);
    background-repeat: repeat;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trustImage {
    width: 34.5rem;
    height: 40rem;
    overflow: hidden;
}

.trustImage img {
    width: inherit;
    position: relative;
    top: -2rem;
}

.trustText {
    width: 33rem;
    margin-left: 3rem;
}

.trustHeader {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3.75rem;
}

.trustParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.trustLink {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.25rem;
    color: black;
    border-width: 0 0 0.5rem 0;
    border-style: solid;
    border-color: #ce22a9;
    text-decoration: none;
}

@media only screen and (max-width: 1080px) {
    .trustSection {
        flex-direction: column;
    }

    .trustText {
        margin-top: 3rem;
        margin-left: 0rem;
    }

    .trustImage {
        width: 36rem;
    }
}

@media only screen and (max-width: 720px) {
    .trustImage {
        width: 100vw;
        height: 44rem;
    }
    
    .trustSection {
        align-items: flex-start;
    }
    
    .trustText {
        margin-left: 4rem;
    }
}



.creativitySection {
    background-image: url(././imagesFolder/creativitySection/fifthBackground.jpg);
    background-position: 10%;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creativityText {
    width: 34rem;
    text-align: left;
    margin-right: 2rem;
}

.quotationMarks {
    height: 7rem;
}

.creativityParagraph {
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3.75rem;
    margin-top: 2rem;
}

.creativityImage {
    height: 38rem;
    width: 34.5rem;
    overflow: hidden;
}

.creativityImage img {
    width: inherit;
}

@media only screen and (max-width: 1080px) {
    .creativitySection {
        flex-direction: column-reverse;
    }

    .creativityImage {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 720px) {
    .creativityImage {
        width: 100vw;
    }
}




.casesSection {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.casesText {
    text-align: center;
    margin-bottom: 4rem;
}

.casesHeader {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3.75rem;
    margin-bottom: 1rem;
}

.casesParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.6;
    width: 64rem;
}

.casesImages {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    column-gap: 2rem;
    width: 70rem;
}

.casesSection img {
    object-fit: cover;
    height: 100%
}

.grid-item1 {
    grid-column: 1 / 3;
    height: 24rem;
}

.grid-item1 img {
    width: 100%;
}

.grid-item2 {
    width: 100%;
    height: 24rem;
}

.grid-item2 img {
    width: 100%;
    overflow: hidden;
}

.grid-item3 {
    overflow: hidden;
    aspect-ratio: 72 / 65;
}

.grid-item3 img {
    width: 100%;
}

.grid-item4 {
    overflow: hidden;
    aspect-ratio: 72 / 65;
}

.grid-item4 img {
    width: 100%;
}

.grid-item5 {
    overflow: hidden;
    aspect-ratio: 72 / 65;
}

.grid-item5 img {
    width: 105%;
    object-position: 56%;
}

@media only screen and (max-width: 1080px) {
    .casesImages {
        width: 35rem;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .casesParagraph {
        width: 33rem;
    }
}

@media only screen and (max-width: 720px) {
    .casesImages {
        width: 100%;
        row-gap: 1rem;
        column-gap: 1rem;
    }
}


.partnersSection {
    padding-bottom: 6rem;
    padding-top: 6rem;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.partnersHeader {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
}

.partnersParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.25rem;
    width: 43rem;
    text-align: center;
}

.partnersCards {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.partnersSection img {
    width: 3.3rem;
    margin-bottom: 1.5rem;
}

.partnersCards div {
    background-color: white;
    height: 18.75rem;
    width: 22.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.25rem;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.nikeCard {
    padding-top: 2rem;
}

.nikeCard img {
    margin-bottom: 2.5rem;
    width: 4.2rem;
}


@media only screen and (max-width: 1080px) {
    .partnersCards {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 60rem;
    }

    .partnersCards div {
        width: 35rem;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 1080px){
    .partnersParagraph{
        width: 30rem;
    }
}


.processSection {
    background-image: url(././imagesFolder/dottedbg.png);
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.processImages {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 3rem;
}

.processImages div {
    width: 34.6rem;
    height: 18.75rem;
    overflow: hidden;
}

.processImages img {
    width: 100%;
    position: relative;
    top: -2rem;
}

.processText {
    text-align: left;
    width: 33rem;
}

.processHeader {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3.75rem;
}

.processParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.processLink {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.25rem;
    color: black;
    border-width: 0 0 0.5rem 0;
    border-color: #0c11b0;
    border-style: solid;
    text-decoration: none;
    width: fit-content;
}

@media only screen and (max-width: 1080px) {
    .processSection {
        flex-direction: column;
        align-items: center;
    }

    .processImages {
        align-items: center;
        margin-right: 0rem;
    }

    .processText {
        width: 31rem;
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 720px) {
    .processImages div {
        width: 100vw;
        height: 21rem;
    }
}



.cardsSection {
    background-color: #ce22a9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 1.5rem;
}

.cardsSection p {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.5rem;
}

.cardsSection div {
    background-color: white;
    height: 14.5rem;
    width: 22.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.cardsSection img {
    width: 3rem;
    margin-bottom: 1rem;
}

#mailIcon {
    position: relative;
    top: 0.5rem;
}

@media only screen and (max-width: 1080px) {
    .cardsSection {
        flex-direction: column;
    }

    .cardsSection div {
        width: 35rem;
    }
}

@media only screen and (max-width: 720px) {
    .cardsSection img {
        margin-bottom: 0rem;
    }
}



.footer {
    background-color: #0d13c3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 3rem;
    gap: 5rem;
}

.footerText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55rem;
}

.footer p {
    color: white;
}

.footerHeadline {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.1rem;
}

.footerParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 0.9rem;
}

.footer img {
    width: 1rem;
}

.footerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 0.4rem;
}

@media only screen and (max-width: 1080px) {
    .footerText {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        width: 25rem;
    }
}

@media only screen and (max-width: 720px) {
    .footer img {
        width: 2rem;
    }

    .footerIcons {
        gap: 1rem;
    }
}