* {
    margin: 0;
    box-sizing: border-box;
}


section>div {
    width: 60vw;
}

@media only screen and (max-width: 1080px) {
    section>div {
        width: 70vw;
    }
}

@media only screen and (max-width: 720px) {
    section>div {
        width: 80vw;
    }
}

@media only screen and (max-width: 375px) {
    section>div {
        width: 90vw;
    }
}




.header {
    background-color: white;
    background-size: cover;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
}

.header .logo {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 36px;
    color: #0d13c3;
    text-decoration: none;
}

.header .menuItems {
    width: 340px;
    padding-top: 5px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.header a {
    font-family: 'Open Sans', regular;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1080px) {
    .menuItems {
        flex-direction: column;
        align-items: flex-end;
    }

    .headerContent {
        width: 70vw;
    }

}



.firstSection {
    min-width: fit-content;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url("././imagesFolder/bluebackground1.jpg");
    background-size: cover;
    background-position: center -190px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.firstContent {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#weCreate {
    font-size: 5vw;
    font-family: 'Roboto';
    font-weight: 400;
}

#future {
    font-size: 5vw;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    margin-bottom: 9%;
}

#firstSectionParagraph {
    font-family: 'Open Sans';
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.6;
}

#portraitWoman {
    height: 31vw;
    width: auto;
    object-fit: cover;
    margin-left: 5vw;
    clip-path: inset(20px 0 20px 0);
}

@media only screen and (max-width: 1080px) {

    .firstSection {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .firstContent {
        width: 70vw;
    }
}

@media only screen and (max-width: 480px){

    #weCreate{
        font-size: 15vw;
    }
    #future{
        font-size: 15vw;
        margin-bottom: 5vw;
    }
    #firstSectionParagraph{
        font-size: 4vw;
        margin-bottom: 3vw;
    }

    .firstContent{
        flex-direction: column;
    }
    #portraitWoman{
        width: 100%;
        height: auto;
        margin-left: 0vw;
    }
}




.secondSection {
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-image: url("././imagesFolder/dottedbg.png");
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.secondSectionText {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 6vw;
    margin-bottom: 3vw;
}

#whatWeDo {
    font-size: 3vw;
    font-family: 'Roboto';
    font-weight: 700;
}

#secondSectionParagraph {
    font-size: 0.9vw;
    font-family: 'Open Sans';
    font-style: italic;
}

.secondSection img {
    object-fit: cover;
    width: 17.5vw;
    height: 17.5vw;
    margin: 0.7vw;
}

@media only screen and (max-width: 1080px) {
    .secondSectionText {
        height: 6vw;
    }
}

@media only screen and (max-width: 480px) {
    .secondContent{
        justify-content: space-between;
        
    }
    .secondSectionText {
        align-items: flex-start;
        height: 10vw;
    }
    #whatWeDo{
        font-size: 10vw;
        margin-bottom: 3vw;
    }
    #secondSectionParagraph{
        font-size: 4vw;
        margin-bottom: 5vw;
    }
    .secondSection img{
        width: 100%;
        height: auto;
    }
    .secondSectionImages{
        display: flex;
        flex-direction: column;
        margin-top: 22vw;
    }
}




.thirdSection {
    background-color: #ce22a9;
    background-size: cover;
    padding-top: 4vw;
    padding-bottom: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirdContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#thirdSectionText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    width: 45%;
    height: 24vw;
}

#thirdHeader {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vw;
    line-height: 4vw;
}

#thirdParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1vw;
    
}

#thirdLink {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1vw;
    color: white;
    border-width: 0 0 0.5vw 0;
    border-style: solid;
    text-decoration: none;
    line-height: 2vw;
}


.thirdSectionImages {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5vw;
}

.thirdSectionImages img {
    object-fit: cover;
    width: 14vw;
    height: 15.5vw;
}

@media only screen and (max-width: 1080px) {

    #thirdSectionText {
        width: auto;
        height: 20vw;
        margin-right: 2vw;
    }

    #thirdParagraph{
        font-size: 1.5vw;
       
    }
}




.fourthSection {
    background-image: url(././imagesFolder/fourthSection/dottedbg.png);
    background-repeat: repeat;
    padding-top: 4vw;
    padding-bottom: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourthContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fourthImage {
    width: 29vw;
    height: 33vw;
    overflow: hidden;
    margin-right: 2.5vw;
}

.fourthImage img {
    width: 100%;
    object-fit: cover;
    position: relative;
    top: -40px;
}

#fourthText {
    width: 30vw;
}

#fourthHeader {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.1;
    font-size: 3vw;
}

#fourthParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.05vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

#fourthLink {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1vw;
    color: black;
    border-width: 0 0 0.5vw 0;
    border-style: solid;
    border-color: #ce22a9;
    text-decoration: none;
}

@media only screen and (max-width: 1080px) {
    #fourthText {
        /* height: 10vw; */
        width: auto;
    }

    .fourthImage {
        height: 25vw;
        width: 60%;
    }

    .fourthImage img {
        top: -3vw;
    }

    #fourthParagraph{
        font-size: 1.5vw;
    }
}



.fifthSection {
    background-image: url(././imagesFolder/fifthSection/fifthBackground.jpg);
    background-position: 10%;
    background-size: cover;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifthContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#fifthText {
    width: 45%;
    height: 23vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.fifthSection p {
    color: white;
}

#quotationMarks {
    height: 12vh;
}

#fifthParagraph {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vw;
}

#fifthImage {
    height: 33vw;
    width: 29vw;
    overflow: hidden;
    object-fit: contain;
}

#fifthImage img {
    width: 100%;
}

@media only screen and (max-width: 1080px) {
    #fifthText {
        height: 20vw;
    }

    #quotationMarks{
        height: 7vw;
    }
}




.sixthSection {
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sixthContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 51vw;
}

#sixthText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sixthHeader {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 2vh;
}

#sixthParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1vw;
    text-align: center;
    width: 55vw;
}

#sixthImages {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 3vh;
    column-gap: 1.5vw;
}

.sixthSection img {
    object-fit: cover;
    height: 100%
}

.grid-item1 {
    grid-column: 1 / 3;
    height: 20vw;
}

.grid-item1 img {
    width: 100%;
}

.grid-item2 {
    width: 100%;
    height: 20vw;
}

.grid-item2 img {
    width: 100%;
    overflow: hidden;
}

.grid-item3 {
    overflow: hidden;
    aspect-ratio: 72 / 65;
}

.grid-item3 img {
    width: 100%;
}

.grid-item4 {
    overflow: hidden;
    aspect-ratio: 72 / 65;
}

.grid-item4 img {
    width: 100%;
}

.grid-item5 {
    overflow: hidden;
    aspect-ratio: 72 / 65;
}

.grid-item5 img {
    width: 105%;
    object-position: 56%;
}

@media only screen and (max-width: 1080px) {
    .sixthSection {
        padding-top: 7vw;
        padding-bottom: 10vw;
    }

    .sixthContent {
        height: 56vw;
    }


}




.seventhSection {
    padding-bottom: 5vw;
    padding-top: 5vw;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seventhContent {
    display: grid;
    column-gap: 1.5vw;
    row-gap: 1.5vw;
}

.seventhSection img {
    overflow: hidden;
    width: 20%;
    min-height: auto;
    margin-bottom: 3vh;
}

#seventhHeader {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.2;
    font-size: 2vw;
    margin-bottom: 2vh;
}

#seventhParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1vw;
    width: 36vw;
    text-align: center;
}

#griditem1 {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#griditem2 {
    background-color: white;
    height: 15.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1vw;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

#griditem3 {
    background-color: white;
    height: 15.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1vw;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 6%;
    text-align: center;
}

#griditem3 img {
    width: 23%;
}

#griditem3 p {
    margin-top: 5%;
}

#griditem4 {
    background-color: white;
    height: 15.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1vw;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
}

#griditem4 img {
    width: 22%;
    height: auto;
}

#griditem4 p {
    margin-top: -1vh;
}

@media only screen and (max-width: 1080px) {
    #seventhHeader{
        margin-bottom: 0.5vw;
    }
}




.eightSection {
    background-image: url(././imagesFolder/dottedbg.png);
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.eightContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#eightImages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32.5vw;
    /* margin-right: 2.8vw; */
}

#eightImageOne {
    width: 29vw;
    height: 15.5vw;
    overflow: hidden;
    /* margin-bottom: 5%; */
}

#eightImageOne img {
    width: 100%;
    top: -40px;
    position: relative;
}

#eightImageTwo {
    width: 29vw;
    height: 15.5vw;
    object-fit: contain;
    overflow: hidden;
    position: relative;
}

#eightImageTwo img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: -40px;
}

.eightText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 47%;
    height: 23vw
}

#eightHeader {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.1;
    font-size: 3vw;
}

#eightParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 1vw;
    width: 28vw;
}

#eightLink {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1vw;
    color: black;
    border-width: 0 0 6px 0;
    border-color: #0c11b0;
    border-style: solid;
    text-decoration: none;
    width: fit-content;
}

@media only screen and (max-width: 1080px) {
    .eightText {
        width: 53%;
    }

    #eightImages {
        height: 30vw;
    }
}



.ninthSection {
    background-color: #ce22a9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.ninthContent{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.ninthSection p {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.25vw;
    /* position: relative; */
}

.ninthContent div {
    background-color: white;
    height: 12.5vw;
    width: 18.7vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.ninthSection img {
    width: 2.5vw;
    /* margin-bottom: 2.5vh; */
}

@media only screen and (max-width: 1080px) {
    .ninthContent div{
        width: 22vw;
    }
}




.tenthSection {
    background-color: #0d13c3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6vw;
    padding-bottom: 2.5vw;
}

.tenthContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 8vw; 
    
}

#tenthSectionText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:48vw;
}

.tenthSection p {
    color: white;
    width: 7vw;
}

.tenthParagraph {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 1.6;
    font-size: 0.8vw;
}

.tenthHeadline {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 1.2;
    font-size: 1vw;
}

.tenthSection img {
    width: 1vw;
    /* margin-right: 0.2vw; */
}

#tenthIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position:relative;
    left: 45%;
    width: 5vw;
}

@media only screen and (max-width: 1080px) {
    .tenthSection img{
        width: 2vw;
    }
}